<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Signin Template for Bootstrap</title>
    <!-- 引用本地样式 -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    
    <!-- 引用CDN样式 -->
    <!-- <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet"> -->

</head>

<body>
{% block content %}


{% endblock %}
</body>
</html>

