{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">项目管理</a></li>
                    <li><a href="/manage/module_manage/">模块管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">用例管理</a></li>
                    <li><a href="">任务管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">mockserver</a></li>
                    <li><a href="">测试工具</a></li>
                </ul>
            </div>

            {% if type == 'list'%} 
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header" >项目列表
                    <button type="button" class="btn btn-success"
                    style="float: right;"
                    onclick="window.location.href='/manage/add_project/'">创建</button>
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>名称</th>
                                <th>描述</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.describe }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.create_time | date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/manage/edit_project/{{project.id}}/">编辑</a>
                                    <a href="/manage/delete_project/{{project.id}}/">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}


            {% if type == 'add'%}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">添加项目</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <form action="/manage/add_project/" method="post">
                                {% csrf_token %} {{ form.as_p }}
                                <button class="btn btn-default" 
                                        onclick="window.location.href='/manage/project_manage/'" 
                                        style="margin-right: 10px;">取消</button>
                                <button type="submit" class="btn btn-success">创建</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endif %}
            
            {% if type == 'edit'%}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header">编辑项目</h3>
            
                <div class="table-responsive">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-default" 
                                onclick="window.location.href='/manage/project_manage/'"
                                style="margin-right: 10px;">取消</button>
                        <button type="submit" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>


    </div>

{% endblock %}