{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			 aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">测试平台</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{ user }}</a></li>
				<li><a href="/logout/">退出</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">

		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/manage/project_manage/">
						<span class="glyphicon glyphicon-th-large"></span> 项目管理</a>
				</li>
				<li><a href="/manage/module_manage/">
						<span class="glyphicon glyphicon-th"></span> 模块管理</a>
				</li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/interface/case_manage/">
						<span class="glyphicon glyphicon-th-list"></span> 用例管理</a>
				</li>
				<li class="active"><a href="/interface/task_manage/">
						<span class="glyphicon glyphicon-tasks"></span> 任务管理</a>
				</li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="#">
						<span class="glyphicon glyphicon-log-in"></span> mockserver</a>
				</li>
				<li><a href="#">
						<span class="glyphicon glyphicon-wrench"></span> 测试工具</a>
				</li>
			</ul>
		</div>

		{% if type == 'list'%}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3 class="sub-header">任务列表
				<button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='/interface/add_task/'">创建</button>
			</h3>
			<div class="table-responsive">

				<form class="navbar-form" method="get" action="/interface/search_case_name/">
					<div class="form-group">
						<input name="case_name" type="text" placeholder="用例名称" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">搜索</button>
				</form>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>名称</th>
							<th>描述</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for task in testtasks %}
						<tr>
							<td>{{ task.id }}</td>
							<td>{{ task.name }}</td>
							<td>{{ task.describe }}</td>
							
							{% if task.status == 0 %}
							<td>未执行</td>
							{% endif %}	

							{% if task.status == 1 %}
							<td>执行中</td>
							{% endif %}

							{% if task.status == 2 %}
							<td>已完成</td>
							{% endif %}

							<td>{{ task.create_time | date:"Y-m-d H:i:s" }}</td>
							<td>
								<a href="#" onclick="RunTask('{{task.id}}')" style="margin-right: 8px;">
									<span class="glyphicon glyphicon-play"></span>
								</a>

								<a href="/interface/edit_task/{{task.id}}/" style="margin-right: 8px;">
									<span class="glyphicon glyphicon-edit"></span>
								</a>

								<a href="/interface/delete_task/{{task.id}}/" style="margin-right: 8px;">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
								<a href="/interface/task_result_list/{{task.id}}/" style="margin-right: 8px;">
									<span class="glyphicon glyphicon-list-alt"></span>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}

		<!-- 添加任务页面 -->
		{% if type == 'add'%}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row">
				{% block add_task %}

				<!-- add_task.html -->
				
				{% endblock %}
			</div>
		</div>
		{% endif %}

		<!-- 编辑任务页面 -->
		{% if type == 'edit'%}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row">
				{% block edit_task %}
		
				<!-- add_task.html -->
		
				{% endblock %}
			</div>
		</div>
		{% endif %}

		<!-- 任务结果的查看 -->
		{% if type == 'result'%}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row">
				{% block task_result_list %}

				<!-- task_result.html -->

				{% endblock %}
			</div>
		</div>
		{% endif %}


	</div>

</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

	function RunTask(tid) {
		$.post("/interface/run_task/", {
			"task_id": tid,
		}, function (resp) {
			if (resp.success === "true") {
				window.alert(resp.message);
				window.location.reload();
			} else {
				window.alert(resp.message);
			}
		});
	}

</script>

{% endblock %}