{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/manage/project_manage/">
                    <span class="glyphicon glyphicon-th-large"></span> 项目管理</a>
                </li>
                <li><a href="/manage/module_manage/">
                    <span class="glyphicon glyphicon-th"></span> 模块管理</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/interface/case_manage/">
                    <span class="glyphicon glyphicon-th-list"></span> 用例管理</a>
                </li>
                <li><a href="/interface/task_manage/">
                    <span class="glyphicon glyphicon-tasks"></span> 任务管理</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">
                    <span class="glyphicon glyphicon-log-in"></span> mockserver</a>
                </li>
                <li><a href="#">
                    <span class="glyphicon glyphicon-wrench"></span> 测试工具</a>
                </li>
            </ul>
        </div>

        {% if type == 'list'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="sub-header">用例列表
                <button type="button" class="btn btn-primary" style="float: right;"
                onclick="window.location.href='/interface/add_case/'">创建</button>
            </h3>
            <div class="table-responsive">

                <form class="navbar-form" method="get" action="/interface/search_case_name/">
                    <div class="form-group">
                        <input name="case_name" type="text" placeholder="用例名称" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>方法</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in testcases %}
                        <tr>
                            <td>{{ case.id }}</td>
                            <td>{{ case.name }}</td>
                            <td>{{ case.url }}</td>
                            <td>{{ case.req_method }}</td>
                            <td>{{ case.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a href="/interface/debug_case/{{case.id}}/">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="/interface/delete_case/{{case.id}}/">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        

            <!-- 列表分页器 -->
            <div class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if testcases.has_previous %}
                            <li><a href="?case_name={{ case_name }}&page={{ testcases.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
            
                        <li><a href="#">{{ testcases.number }}</a></li>
            
                        {% if testcases.has_next %}
                            {% if case_name %}
                                <li><a href="?case_name={{ case_name }}&page={{ testcases.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li><a href="?page={{ testcases.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="#">共：{{ testcases.paginator.num_pages }} 页</a></li>
                    </ul>
                </span>
            </div>
        
        </div>
        {% endif %}

        <!-- 添加（调试）用例页面 -->
        {% if type == 'add'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                {% block add_case %}
                    <!--add_case.html-->
                {% endblock %}
            </div>
        </div>


        {% endif %}

        <!-- 添加（调试）用例页面 -->
        {% if type == 'debug'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                {% block debug_case %}
                    <!--debug_case.html-->
                {% endblock %}
            </div>
        </div>
        {% endif %}
    
    
    
    </div>


</div>

{% endblock %}